<body>
    <header>

    </header>

    <section id="connection">
        <div id="titre">
            <h1>Connectez-vous à la tour</h1>
        </div>

        <div id="formulaire">
            <p> ID MAC de la tour : <input [(ngModel)]="inputMacId" type="number" name="Mac_ID" id="Mac_ID" placeholder="Ex : 121212" size="10" maxlength="10" /></p>
        </div>

        <div (click)="goConnect()" id="bouton">
            Connecter
        </div>

    </section>

    <footer>

    </footer>
</body>
