body{
  display: flex;
  height: 800px;
  width: 1800px;
  background: url(fond.svg) no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  margin : 0px;
  }

  #Exit
  {
      position: absolute;
      top: 10px;
      left: 10px;
  }

header, footer
{
    height: 50px;
}

h1
{
    display: inherit;
    font-size: 3em;
    text-align: center;
    margin-top: 0vh;
    margin-left: 13vw;

}

h2
{
    display: inherit;
    font-size: 1.8em;
    text-align: center;
    margin-top : 0vh;
    margin-left: 7vw;

}

#consigne
{
    display: inherit;
    width: 33vw;
    height:50vh;
    text-align: justify;
    font-size: 1em;
    margin-left: 1vw;

}

#tuto
{
    display: inherit;
    flex-direction: column;
    font-family: 'Andika', Arial, sans-serif;
    background-color: #6a89cc;
    border-radius: 50px;
    color: white;
    justify-content: space-between;
    height: 80vh;
    width: 35vw;
    margin-top: 10vh;
    margin-left:32vw;
}


#outil
{
    display: inherit;
}

#im_outil
{
  margin-left: 2vw;
  margin-bottom: 3vh;
  width:33vw;
  height:9vh;
}

#page
{
    font-size: 1.2em;
}
